@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

:root {
   --primary-color: #34d399;
   --white: #ecfdf5;
   --off-white: #d1fae5;
   --dark-gray: #6b7280;
}

body {
   font-family: "Josefin Sans", sans-serif;
   font-size: 1.4rem;
   margin: 0px;
   background-color: var(--white);
}

hr {
   margin: 2rem 0rem;
}

/**---------Containers----------*/

.container {
   padding-left: 1rem;
   padding-right: 1rem;
}

.container-center {
   max-width: 600px;
   margin: auto;
}

.project-links {
   margin-bottom: 3rem;
}

/**-------Links-------------*/

.link {
   text-decoration: none;
   padding: 0.5rem 1vw;
}

.primary-link {
   background-color: var(--primary-color);
   border-radius: 0.5rem;
   color: var(--white);
}

.secondary-link {
   color: var(--primary-color);
   border-radius: 0.5rem;
   border: 1px solid var(--primary-color);
}

.list-non-bullet {
   list-style: none;
}

.list-item-inline {
   display: inline;
   padding: 0rem 0.5vw;
   margin: 0;
   border: 0;
}

/**----------Navigations--------------*/

.navigation {
   background-color: var(--primary-color);
   color: var(--white);
   padding: 1rem;
   border-bottom-left-radius: 3rem;
}

.navigation .nav-brand {
   font-weight: bold;
   font-family: "Alex Brush", cursive;
   font-size: 3rem;
}

.navigation .nav-pills {
   text-align: right;
}

.navigation .link {
   color: var(--white);
}

.navigation .link-active {
   font-weight: bold;
}

/**----------hero-------------*/

.hero {
   padding: 2rem;
}

.hero .hero-img {
   max-width: 350px;
   display: block;
   margin: auto;
}

.hero .hero-heading {
   text-align: center;
   padding-top: 1rem;
   color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
   color: var(--primary-color);
}

.hero .hero-dates {
   text-align: center;
}

/**---------section-------------*/

.section {
   padding: 2rem;
}

.section h1 {
   text-align: center;
}

.ow {
   background-color: var(--off-white);
}

/**--------footer--------------*/

footer {
   background-color: var(--primary-color);
   padding: 2rem 1rem;
   text-align: center;
   color: var(--white);
   border-top-right-radius: 2rem;
}

.footer .link {
   color: var(--white);
}

.footer .footer-header {
   font-weight: bold;
   font-size: x-large;
}

.footer ul {
   padding-inline-start: 0px;
}

.pads {
   padding: 1rem;
}
